 <!-- 这里是category的开始 -->
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
			{% for p in posts %}
				<div class="post-list-item">
					<div class="post-list-item-container">
 <!-- 自定post背景图 -->
					 {% if p.ext_small_image.length %}
						<div class="item-thumb bg-deepgrey" style="background-image:url({{ p.ext_small_image }});">
						{% else %}
                         	<div class="item-thumb bg-deepgrey" style="background-image:url({{ ext_bgimg }});">
						{% /if %}
						</div> 
						<a href="{{ p.url }}"> 
							<div class="item-desc"> 
								<p>{{ p.desContentTextOnly }}</p> 
							</div> 
						</a> 
<!-- 自定义Post颜色 -->
				{% if p.ext_colour.length %} 
						<div class="item-slant reverse-slant bg-{{ p.ext_colour }}"></div>
						{% else %}
						<div class="item-slant reverse-slant bg-deepgrey"></div>
						{% /if %}

						<div class="item-slant"></div>
		 				<div class="item-label">
	  						<div class="item-title">
	  							<a href="{{ p.url }}">{{ p.title }}</a>
	  						</div>
		   					<div class="item-meta clearfix"> 
<!-- 自定义Icon -->
								{% if p.ext_icon.length %} 
								<div class="item-meta-ico bg-ico-{{ p.ext_icon }}" style="background: url(asset/img/bg-ico.png) no-repeat;background-size: 40px auto;">
								</div>
								{% else %}
		   						<div class="item-meta-ico bg-ico-note" style="background: url(asset/img/bg-ico.png) no-repeat;background-size: 40px auto;">
		   						</div> 
								{% /if %}

		   						<div class="item-meta-cat">
	  							{% for cat in p.cats %}
			    			<a class='category' href='{{ cat.url }}'>{{ cat.name }}</a>
								{% /for %}
		   						</div> 
		   					</div> 
		   					
		   				</div> 
   					</div>
 				</div>
 			{% /for %} 
		</div>
	</div>
<!-- 底部导航条 -->
	<nav class="lists-navigator clearfix" style="clear: all;">
            <ol class="page-navigator">
            {% if prevPageUrl.length %}
            	<li class=""><a href="{{ prevPageUrl }}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
            {% else %}
            	<li class="  disabled "><a href="#index"><span aria-hidden="true">&larr;</span> 上一页</a></li>
            {% /if %}

				<li class=""><a href="archives.html">归档</a></li>

			{% if nextPageUrl.length %}
			<li class=""><a href="{{ nextPageUrl }}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
			{% else %}
            	<li class=" disabled "><a href="#index">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            {% /if %}
            </ol>
     </nav>
</div>
</div>