<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>


    <title>
    {% if pageTitle.length %}  
    {{ pageTitle }}
    {% else %}
    {{ siteName }}
    {% /if %}
    </title>


  <link href="asset/css/style.css" rel="stylesheet" > 
  <link href="asset/js/xcode.min.css" rel="stylesheet">
  <script src="asset/js/headroom.js"></script>

  <!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="asset/css/font-awesome.css">
 -->

  <!-- <script src="asset/highlightjs/highlight.pack.js"></script> -->
  <!-- <link href="asset/highlightjs/styles/solarized_light.css" media="screen, projection" rel="stylesheet" type="text/css"> -->
  <!-- <script>hljs.initHighlightingOnLoad();</script> -->


  </head>

  <!-- 主体开始 -->
  <!-- <body class="" gtools_scp_screen_capture_injected="true"> -->
  <!-- 上面为主页白底色版本 -->
    
<body class="bg-grey" gtools_scp_screen_capture_injected="true" data-feedly-mini="yes">
<!-- 上面是主页灰底色版本 -->

<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<!-- 头部位置 -->

<header id="header" class="header bg-white headroom">
  <div class="navbar-container"> 
    <a href="index.html" class="navbar-logo"><img src="asset/img/K-logo.png"> </a>
    <div class="navbar-menu"> 

        {% for m in siteMenu %}
        <a href="{{ m.url }}">{{ m.name }}</a>
        {% /for %}
        
    </div> 
    <!-- 搜索框体 -->
    <!--  <div class="navbar-search" onclick="">
        <span class="icon-search"></span>
        <form id="search" method="post" action="/" role="search">
          <span class="search-box">
            <input type="text" id="input" class="input" name="s" required="true" placeholder="Search..." maxlength="30" autocomplete="off">
          </span>
        </form>
    </div> -->

    <div class="navbar-mobile-menu" onclick=""> 
      <span class="icon-menu cross"><span class="middle"></span></span> 
        <ul> 
          {% for m in siteMenu %}
          <li>
          <a href="{{ m.url }}">{{ m.name }}</a>
          </li>
          {% /for %}
        </ul> 
    </div> 
  </div> 
</header>
<!-- 头部结束 -->