<!-- post 开始 -->
	<main class="container-fluid">
		<article class="post" style="padding-top: 5px;padding-bottom: 5px">
		<div class="post-content">
			<header class="post-head">
			  	<h3 class="post-title">{{post.title}}</h3>
				<div class="post-meta" style="color: #959595;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px"><time datetime="{{post.dateGTM}}" pubdate data-updated="true">{{post.date}}</time></div>
			</header>
			<hr style="margin-top: 10px;margin-bottom: 30px;">
		  	<div class="entry-content">
			  	{{ post.content }}
			</div>

		
	  
			<footer class="post-footer clearfix">
		 <p class="meta">
			{% if post.cats.@count %}<strong>文章分类:</strong>&nbsp; {% /if %}
			<span class="categories">
			{% for cat in post.cats %}
			    <a class='category' href='{{ cat.url }}'>{{ cat.name }}</a>&nbsp;
			{% /for %}
			</span>
		    </p>
		    <p class="meta">
		     </p>	    
			<div class="pull-left tag-list">
			  {{ commentAndShareCode }}
	          {% if ext_disqus_shortname.length %}
	            <div id="disqus_thread"></div>
	          {% /if %}
	          {% if ext_duoshuo_shortname.length %}
	              <div class="ds-thread" data-thread-key="{{post.url}}" data-url="{{ siteURL }}{{post.url}}" data-title="{{post.title}}"></div>
	          {% /if %}
			</div>
		    <p class="meta">
		    {% if postNav.prev %}
		        <a class="basic-alignment left" href="{{ postNav.prev.url }}" 
		        title="Previous Post: {{ postNav.prev.title }}">&laquo; {{ postNav.prev.title }}</a>
		    {% /if %}
		    {% if postNav.next %}
		        <a class="basic-alignment right" href="{{ postNav.next.url }}" 
		        title="Next Post: {{ postNav.next.title }}">{{ postNav.next.title }} &raquo;</a>
		    {% /if %}
		    </p>
	  		</footer>

		</div>
	</article>			
</main>
