<!-- 这里是sid的头部 -->
<aside class="col-md-4 sidebar"> 

	<div class="widget">
		<h4 class="title">Categories</h4>
		<div class="content community">
		  {% for p in categoriesTree %}
		        <a href="{{ p.url }}"><strong>{{ p.name }}&nbsp;({{ p.count }})</strong></a>
		        <br>
		        {% if p.children.@count %} <p class="cat-children-p"> {% /if %}
		        {% for p2 in p.children %}
		        	<a href="{{ p2.url }}">{{ p2.name }}&nbsp;({{ p2.count }})</a>&nbsp;&nbsp;
		        {% /for %}
		        {% if p.children.@count %} </p> {% /if %}
		  {% /for %} 
		</div>
	</div>	  
	<div class="widget">
		  <h4 class="title">Recent Posts</h4>
		  <div class="content community">
		  {% for p in recentPosts %}{% if currentLoop.currentIndex < 5 %}
			<a href="{{ p.url }}">{{ p.title }}</a><br>
		     {% /if %}{% /for %} 
		  </div>	  	
	</div>	
</aside>